fastapi
uvicorn[standard]
websockets

boto3
botocore

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

psycopg2-binary
SQLAlchemy
alembic

pydantic
pydantic-settings

python-dotenv

httpx
requests

python-multipart

itsdangerous

PyJWT
cryptography

email-validator

aiohttp
